assignment1/VehicleService/ConsoleApplication/Service References/VehicleService/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VehicleService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VehicleService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSoapVehicle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SoapVehicle" nillable="true" type="tns:SoapVehicle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSoapVehicle" nillable="true" type="tns:ArrayOfSoapVehicle" />
  <xs:complexType name="SoapVehicle">
    <xs:sequence>
      <xs:element minOccurs="0" name="Mileage" type="xs:int" />
      <xs:element minOccurs="0" name="NumberPlate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RentalCharge" type="xs:double" />
      <xs:element minOccurs="0" name="VehicleType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SoapVehicle" nillable="true" type="tns:SoapVehicle" />
</xs:schema>